// Reset
@import "compass/reset";

// Fonts
$baseFont: 'Open Sans';

// Colors
$baseColor: #444;
$ntColor: #006699;
$correnColor: #c61212;
$mvtColor: #2f5489;
$untColor: #333;
$nsdColor: #a72524;
$kurirenColor: #0080c1;
$folkbladetColor: #c30000;
$hgColor: #ffe000;

// General
body { 
	background: #faf6f3;
	font-family: $baseFont;
}

a { 
	color: $baseColor;
	text-decoration: none;
}

h1 { 
	font-size: 3em;
	font-weight: bold;
	line-height: 100px;
	margin-left: 15px;
}

// Grid
.container { 
	clear: both; 
	margin-left: -30px;
	margin-top: 30px;
	width: 1000px;
}

// Imports
@import "header";
@import "paperMenu";
@import "menu";
@import "article";
@import "helpers";
@import "bubblingG";

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


.wrapper {
	margin: 10px auto;
	width: 960px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 480px),
	   only screen and (max-device-width : 480px) {
  .wrapper { width: 320px;}
  .container { width: 100%; margin-left: 0; }
  .header { width: 100%; }
  .article { margin-left: 0; width: 100%; }
}
